<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
    <style>
        .completed {
            color: grey;
            text-decoration: line-through;
        }
    </style>
    <script src="https://kit.fontawesome.com/0acc85d45b.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>To-Do List</h1>
    <ul class="high">
        <h3>High Priority</h3>
        <% for(let a=0; a < items.length; a++){ %>
            <% if(items[a].priority==="High" ) { %>
                <li class="to-doItem">
                    <% if(items[a].completed) { %>
                        <input type="checkbox" checked>
                        <span class="completed">
                            <%= items[a].task %>
                        </span>
                        <i class="fa-solid fa-trash"></i>
                        <% } else { %>
                            <input type="checkbox">
                            <span class="task">
                                <%= items[a].task %>
                            </span>
                            <i class="fa-solid fa-trash"></i>
                            <% } %>
                            <p>
                                <%= items[a].category %>
                            </p>
                </li>
                <% } %>
                    <% } %>
    </ul>
    <ul class="medium">
        <h3>Medium Priority</h3>
        <% for(let a=0; a < items.length; a++){ %>
            <% if(items[a].priority==="Medium" ) { %>
                <li class="to-doItem">
                    <% if(items[a].completed) { %>
                        <input type="checkbox" checked>
                        <span class="completed">
                            <%= items[a].task %>
                        </span>
                        <i class="fa-solid fa-trash"></i>
                        <% } else { %>
                            <input type="checkbox">
                            <span class="task">
                                <%= items[a].task %>
                            </span>
                            <i class="fa-solid fa-trash"></i>
                            <% } %>
                            <p>
                                <%= items[a].category %>
                            </p>
                </li>
                <% } %>
                    <% } %>
    </ul>
    <ul class="low">
        <h3>Low Priority</h3>
        <% for(let a=0; a < items.length; a++){ %>
            <% if(items[a].priority==="Low" ) { %>
                <li class="to-doItem">
                    <% if(items[a].completed) { %>
                        <input type="checkbox" checked>
                        <span class="completed">
                            <%= items[a].task %>
                        </span>
                        <i class="fa-solid fa-trash"></i>
                    <% } else { %>
                            <input type="checkbox">
                            <span class="task">
                                <%= items[a].task %>
                            </span>
                            <i class="fa-solid fa-trash"></i>
                    <% } %>
                    <p>
                        <%= items[a].category %>
                    </p>
                </li>
                <% } %>
                    <% } %>
    </ul>
    <form action="/createTask" method="post">
        <div class="inputWrapper">
            <label for="task">Task: </label>
            <input type="text" name="task" id="task">
        </div>
        <div class="inputWrapper">
            <label for="priority">Priority: </label>
            <input type="text" name="priority" id="priority" list="priorities">
        </div>
        <div class="inputWrapper">
            <label for="category">Category: </label>
            <input type="text" name="category" id="category" list="categories">
        </div>
        <datalist id="priorities">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </datalist>
        <datalist id="categories">
            <option value="Personal Development"></option>
            <option value="Health"></option>
            <option value="Financial"></option>
            <option value="Career"></option>
            <option value="Work"></option>
            <option value="Social"></option>
        </datalist>
        <input type="submit" value="Add Task">
    </form>

    <script src="js/main.js"></script>
</body>

</html>